@using MobileApp.Presentation.Auth;
@inject AuthService authService

@if (Visible)
{
    <Router AppAssembly="@typeof(Main).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
}
else
{
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}

@code {
    private bool Visible { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await authService.Login();
        Visible = authService.IsAuthenticated;
    }
}

